:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 800px;
  min-height: 600px;
  padding: 16px;
  background: var(--neutral-200);
  border: 1px solid var(--neutral-300);
  border-radius: 4px;

  .actions {
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
}
