:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .grid {
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 100%;
    scrollbar-gutter: stable;
    overflow-y: auto;

    .title {
      position: sticky;
      display: flex;
      gap: 2px;
      align-items: center;
      top: 0;
      padding: 4px;
      border-right: 1px solid var(--neutral-300);
      border-bottom: 1px solid var(--neutral-300);
      color: var(--neutral-700);
      background: #ececec;

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &:last-child {
        border: none;
      }
    }

    app-column {
      border-right: 1px solid var(--neutral-300);

      &:last-child {
        border: none;
      }
    }
  }
}
