:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .grid {
    display: grid;
    grid-template-rows: 32px auto;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;

    .title {
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-right: 1px solid var(--neutral-300);
      color: var(--neutral-800);
      background: #ececec;

      &:last-child {
        border: none;
      }
    }

    app-column {
      border-right: 1px solid var(--neutral-300);

      &:last-child {
        border: none;
      }
    }
  }
}
