:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .grid {
    position: relative;
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    height: 100%;
    scrollbar-gutter: stable;
    overflow-y: scroll;

    .title {
      position: sticky;
      display: flex;
      gap: 8px;
      align-items: center;
      top: 0;
      z-index: 5;
      padding: 4px;
      border-right: 1px solid var(--neutral-300);
      border-bottom: 1px solid var(--neutral-300);
      color: var(--neutral-700);
      background: #ececec;

      .counter {
        display: flex;
        align-items: center;
        background: var(--neutral-300);
        padding: 0 8px;
        border-radius: 2px;
      }

      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
